@import "tailwindcss";

button {
  @apply border-2 border-blue-600 rounded-sm p-2 bg-blue-600 text-white cursor-pointer;
}

input,
select {
  @apply border-2 border-blue-600 rounded-sm p-2 bg-blue-950 text-white outline-0;
}

button:hover,
input:hover,
input:focus,
select:hover,
select:focus {
  @apply shadow-2xl shadow-blue-600 border-blue-400;
}

.btn-red {
  @apply border-red-600 bg-red-800 hover:shadow-2xl hover:shadow-red-600 hover:border-red-400;
}

:root {
  @apply bg-zinc-900 text-white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.page {
  @apply w-full top-0 left-0 fixed flex overflow-auto;
  height: 100dvh;
}

h1 {
  font-size: 3rem;
}

.form-group {
  @apply flex flex-col;
}

.participant {
  @apply w-full sm:w-1/2 lg:w-1/3 bg-gray-900 h-1/2 lg:h-1/3 relative border-2 border-gray-800 transition-all;
}

.player {
  @apply relative overflow-hidden;
}

.player video {
  @apply absolute;
  @apply bg-transparent;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.player-bg {
  filter: blur(32px);
  object-fit: cover !important;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.participant .player {
  @apply w-full h-full;
}

.participant video {
  @apply w-full h-full;
}

.name {
  @apply absolute bottom-2 left-2 p-2 border-2 border-gray-400 rounded-full backdrop-blur-2xl bg-black/20;
}

.view {
  @apply absolute top-2 left-2 p-2 border-2 border-gray-400 rounded-full backdrop-blur-2xl bg-black/20 cursor-pointer hover:bg-white/20;
}

.streams-container {
  @apply flex flex-row w-full h-full flex-wrap transition-all fixed top-0 left-0;
  padding-bottom: 5.5rem;
  padding-top: 4.5rem;
  overflow-y: auto;
}

.dock {
  @apply flex flex-row gap-4;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  height: 5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.dock button {
  @apply rounded-full;
}

.screenviewer {
  @apply fixed top-0 left-0 w-full h-full bg-black z-10;
}

.screenviewer .player {
  @apply w-full h-full;
}

.screenviewer .player video {
  object-fit: contain;
  @apply w-full;
}

.loader {
  @apply bg-gray-800;
  position: relative;
  width: 300px;
  height: 0.5rem;
  /* Slightly thinner for a modern look */
  overflow: hidden;
  /* Ensures the bar doesn't spill out */
  border-radius: 9999px;
}

@keyframes loader-anim {
  0% {
    transform: translateX(-100%) scaleX(0.1);
  }

  50% {
    transform: translateX(0%) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.1);
  }
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Base width is full, then scaled via transform */
  background-color: rgb(0, 136, 255);
  animation: loader-anim 1.5s ease-in-out infinite;
  border-radius: 9999px;
}

.screenoptions {
  @apply fixed top-0 left-0 w-full h-full bg-gray-950;
}

.options-container {
  @apply absolute bg-gray-800 flex flex-col gap-3 p-8 rounded-2xl;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  @apply fixed top-0 left-0 w-full p-2 bg-gray-800/50 z-10;
  @apply flex flex-row align-middle gap-4 backdrop-blur-md;
  height: 4rem;
}

.header span {
  @apply my-auto;
  @apply flex flex-row align-middle gap-1;
}

.btn-green {
  @apply bg-green-800 border-green-700;
}

.btn-green:hover {
  @apply shadow-green-400 border-green-600;
}

.immersive-view {
  @apply flex flex-row w-full flex-wrap transition-all fixed left-0;
  top: 4.5rem;
  height: calc(100% - 10rem);
  overflow-y: auto;
}

.participants-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  background-color: black;
  overflow-x: auto;
  @apply flex flex-row;
}

.participant-preview {
  @apply w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 bg-gray-900 h-full relative border-2 border-gray-800 transition-all;
}

.participant-preview .player {
  @apply w-full h-full;
}

.participant-preview video {
  @apply w-full h-full;
}

.participant-view {
  position: absolute;
  top: 0px;
  left: 0px;
   width: 100%;
   height: 80%;
}

.participant-view .player {
  @apply w-full h-full;
}

.participant-view video {
  @apply w-full h-full;
}

@media (min-width: 1000px) {
  .dock {
    width: 100%;
    justify-content: center;
  }
}

@media (max-height: 700px) {
  .participant {
    @apply h-1/2 sm:w-1/2;
  }
}

@media (max-height: 400px) {
  .participant {
    @apply h-full;
  }
}